<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="targets/eclipse-help/toc-topics.xml.html"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="targets/contextHelp.xml"
            plugin="org.eclipse.etrice.doc">
      </contexts>
   </extension>

</plugin>
