<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.etrice.ui.common.base.refactoring.rename" name="Diagram Rename Participant" schema="schema/org.eclipse.etrice.ui.common.base.refactoring.rename.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.etrice.ui.common.base.concurrency.ConcurrentModificationObserver$Initializer">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.etrice.ui.common.base.refactoring.DiagramRenameParticipant"
            id="org.eclipse.etrice.ui.common.renameParticipant"
            name="eTrice Diagram Rename Participant">
         <enablement>
            <with
                  variable="element">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="room">
                  </test>
               </adapt>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.etrice.ui.common.base.preferences.UIBasePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.eclipse.etrice.ui.common.base.context"
            name="eTrice Diagram Context">
      </context>
   </extension>

</plugin>
