ConfigModel DynamicConfigTest {
	
	import DynamicConfigTest.* from "DynamicConfigTest.room"
 	
	
	SubSystemConfig System_DynamicConfigTest / main {
		dynamic configuration {
			user import ""
			user constructor "ConfigSourceTestInstance.getInstance()"
			polling interval 200 ms
		}
	}

	ActorClassConfig Testee_ac {
		Attr aBool = false
		Attr aInt8 = 0 {
			min = -1 max = 59
		}
		Attr aInt16 = 0 {
			min = -1 max = 59
		}
		Attr aInt32 = 0 {
			min = -1 max = 59
		}
		Attr aInt64 = 0 {
			min = -1 max = 59
		}
		Attr aFloat32 = 0.0 {
			min = -1.0 max = 59.0
		}
		Attr aFloat64 = 0.0 {
			min = -1.0 max = 59.0
		}
		Attr aChar = ''
		Attr aString = ""
		Attr aBool_array = false
		Attr aInt8_array = 0 {
			min = -1 max = 59
		}
		Attr aInt16_array = 0 {
			min = -1 max = 59
		}
		Attr aInt32_array = 0 {
			min = -1 max = 59
		}
		Attr aInt64_array = 0 {
			min = -1 max = 59
		}
		Attr aFloat32_array = 0.0 {
			min = -1.0 max = 59.0
		}
		Attr aFloat64_array = 0.0 {
			min = -1.0 max = 59.0
		}
		Attr aChar_array
		Attr dc {
			Attr nested {
				Attr aInt32 = 0 {
					min = -1 max = 59
				}
			}
		}
	}

	ActorInstanceConfig System_DynamicConfigTest / main / testee {
		Attr aInt8 {
			dynamic configuration read
		}
		Attr aInt16 {
			dynamic configuration read
		}
		Attr aInt32 {
			dynamic configuration read
		}
		Attr aInt64 {
			dynamic configuration read
		}
		Attr aFloat32 {
			dynamic configuration read
		}
		Attr aFloat64 {
			dynamic configuration read
		}
		Attr aBool {
			dynamic configuration read
		}
		Attr aChar {
			dynamic configuration read
		}
		Attr aString {
			dynamic configuration read
		}
		Attr aInt8_array {
			dynamic configuration read
		}
		Attr aInt16_array {
			dynamic configuration read
		}
		Attr aInt32_array {
			dynamic configuration read
		}
		Attr aInt64_array {
			dynamic configuration read
		}
		Attr aFloat32_array {
			dynamic configuration read
		}
		Attr aFloat64_array {
			dynamic configuration read
		}
		Attr aBool_array {
			dynamic configuration read
		}
		Attr aChar_array {
			dynamic configuration read
		}
		Attr dc {
			dynamic configuration read
		}
	}
}
