ConfigModel trafficlight.example.config {
	
	import trafficlight.example.* from "trafficlight.room"
	ActorInstanceConfig TrafficlightModel.TrafficlightLogSys/subsystem/application/tsCommands {
		Attr  socketConfig {
			Attr IPAddr = "localhost"
			Attr TcpPort = 4441
		}
	}
	ActorInstanceConfig TrafficlightModel.TrafficlightLogSys/subsystem/application/tlCommands2 {
		Attr  socketConfig {
			Attr IPAddr = "localhost"
			Attr TcpPort = 4442
		}
	}
	
}