ConfigModel test {
	
	import test.* from "room-example.room"
	
	ActorClassConfig ActA {
		Attr val = 1
	}
	
	ActorClassConfig ActB {
		Attr val = 2
	}
	
	ActorInstanceConfig Main/subA/actA {
		Attr val = 12
	}
	
	ActorInstanceConfig Main/subA/actB {
		Attr val = 13
	}
	
	ActorInstanceConfig Main/subA/actA/actB2 {
		Attr val = 14
	}
}