<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.etrice.generator.launch.java.launchConfigurationType">
<booleanAttribute key="DataLogging" value="false"/>
<booleanAttribute key="DataObj" value="false"/>
<booleanAttribute key="Debug" value="false"/>
<booleanAttribute key="GenDocumentation" value="false"/>
<booleanAttribute key="GenInstanceDiagram" value="false"/>
<stringAttribute key="GenModelPath" value="model/dynamicactors6/genmodel.rim"/>
<booleanAttribute key="GenerateDepsWithinProject" value="true"/>
<booleanAttribute key="Lib" value="false"/>
<booleanAttribute key="MSC" value="true"/>
<stringAttribute key="MainMethodName" value="main"/>
<listAttribute key="ModelFiles">
<listEntry value="${workspace_loc:/org.eclipse.etrice.examples.java/model/dynamicactors6/DynAct6.room}"/>
<listEntry value="${workspace_loc:/org.eclipse.etrice.examples.java/model/dynamicactors6/DynAct6.etphys}"/>
<listEntry value="${workspace_loc:/org.eclipse.etrice.examples.java/model/dynamicactors6/DynAct6.etmap}"/>
</listAttribute>
<booleanAttribute key="OldStyleTransitionData" value="false"/>
<booleanAttribute key="OverrideDirectories" value="false"/>
<booleanAttribute key="Persist" value="false"/>
<booleanAttribute key="SaveGenModel" value="true"/>
<booleanAttribute key="UseTranslation" value="true"/>
<booleanAttribute key="Verbose" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
</launchConfiguration>
