<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/etrice/generator"
            class="org.eclipse.etrice.core.genmodel.etricegen.ETriceGenPackage"
            genModel="model/etricegen.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="etricegen"
            class="org.eclipse.etrice.core.genmodel.etricegen.util.ETriceGenResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.etrice.core.room.validation">
      <validator
            class="org.eclipse.etrice.core.genmodel.RoomGenmodelValidator"
            classToCheck="org.eclipse.etrice.core.room.RoomModel"
            mode="NORMAL">
      </validator>
   </extension>

</plugin>
