<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kiml.ui.layoutManagers">
      <manager
            class="org.eclipse.etrice.ui.layout.BehaviorDiagramLayoutManager"
            priority="1">
      </manager>
      <manager
            class="org.eclipse.etrice.ui.layout.StructureDiagramLayoutManager"
            priority="1">
      </manager>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layoutInfo">
      <diagramType
            id="org.eclipse.etrice.ui.layout.eTriceBehaviorDiagram"
            name="eTrice Behavior Diagram">
      </diagramType>
      <option
            class="org.eclipse.etrice.ui.layout.eTriceBehaviorDiagram"
            option="de.cau.cs.kieler.algorithm"
            value="de.cau.cs.kieler.graphviz.dot">
      </option>
      <option
            class="org.eclipse.etrice.ui.layout.eTriceBehaviorDiagram"
            option="de.cau.cs.kieler.borderSpacing"
            value="30">
      </option>
      <option
            class="org.eclipse.etrice.ui.layout.eTriceBehaviorDiagram"
            option="de.cau.cs.kieler.spacing"
            value="50">
      </option>
      <diagramType
            id="org.eclipse.etrice.ui.layout.eTriceStructureDiagram"
            name="eTrice Structure Diagram">
      </diagramType>
      <option
            class="org.eclipse.etrice.ui.layout.eTriceStructureDiagram"
            option="de.cau.cs.kieler.algorithm"
            value="de.cau.cs.kieler.klay.layered">
      </option>
      <option
            class="org.eclipse.etrice.ui.layout.eTriceStructureDiagram"
            option="de.cau.cs.kieler.spacing"
            value="50">
      </option>
      <option
            class="org.eclipse.etrice.ui.layout.eTriceStructureDiagram"
            option="de.cau.cs.kieler.borderSpacing"
            value="50">
      </option>
      <config
            class="org.eclipse.etrice.ui.layout.ETriceLayoutConfig">
      </config>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.etrice.ui.common.preferences.ETricePreferencePage"
            class="org.eclipse.etrice.ui.layout.preferences.ETriceLayoutPreferencePage"
            id="org.eclipse.etrice.ui.layout.preferences.ETriceLayoutPreferencePage"
            name="Layout">
      </page>
      <page
            category="org.eclipse.etrice.ui.layout.preferences.ETriceLayoutPreferencePage"
            class="org.eclipse.etrice.ui.layout.preferences.ETriceBehaviorPreferencePage"
            id="org.eclipse.etrice.ui.layout.ETriceBehaviorPreferencePage"
            name="Behavior">
      </page>
      <page
            category="org.eclipse.etrice.ui.layout.preferences.ETriceLayoutPreferencePage"
            class="org.eclipse.etrice.ui.layout.preferences.EtriceStructurePreferencePage"
            id="org.eclipse.etrice.ui.layout.ETriceStructurePreferencePage"
            name="Structure">
      </page>
   </extension>
   <extension
		point="org.eclipse.ui.menus">
		<menuContribution
		      locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		   <command
		         commandId="de.cau.cs.kieler.kiml.ui.command.layout"
		         label="Layout"
		         style="push">
		      <parameter
		            name="de.cau.cs.kieler.kiml.ui.layoutScope"
		            value="selection">
		      </parameter>
		      <visibleWhen
		            checkEnabled="false">
		         <with
		               variable="activeEditor">
		            <test
		                  property="de.cau.cs.kieler.kiml.ui.activeEditorIsSupported">
		            </test>
		         </with>
		      </visibleWhen>
		   </command>
		</menuContribution>
   </extension>

</plugin>
