ConfigModel StaticTestConfig {
	
 	import JavaGenTests.* from "generator.java.tests.room"
 	import StaticConfigTest.* from "StaticConfigTest.room"
	import DynamicConfigTest.* from "DynamicConfigTest_Java.room"
 	
 	ActorClassConfig Tester_ac {
 		// nothing
 	}
 	
 	ActorClassConfig Testee_1_ac {
 		Attr data_1 {
 			Attr bool_c = false
 			Attr bool_i = false
 			Attr int8_c = 24
 			Attr int8_i = 24
 			Attr int16_c = 48
 			Attr int16_i = 48
 			Attr int32_c = 96
 			Attr int32_i = 96
 			Attr int64_c = 192
 			Attr int64_i = 192
 			Attr float32_c = 9.6
 			Attr float32_i = 9.6
 			Attr float64_c = 19.2
 			Attr float64_i = 19.2
 			Attr char_c = "C"
 			Attr char_i = "C"
 			Attr string_c = ":)"
 			Attr string_i = ":)"
 			
 			Attr bool_array_c = true, false
 			Attr bool_array_i = true, false
 			Attr int8_array_c = 24, 48
 			Attr int8_array_i = 24, 48
 			Attr int16_array_c = 48, 96
 			Attr int16_array_i = 48, 96
 			Attr int32_array_c = 96, 192
 			Attr int32_array_i = 96, 192
 			Attr int64_array_c = 192, 384
 			Attr int64_array_i = 192, 384
 			Attr float32_array_c = 9.6
 			Attr float32_array_i = 9.6
 			Attr float64_array_c = 19.2
 			Attr float64_array_i = 19.2
 			Attr char_array_c = "Claz"
 			Attr char_array_i = "Claz"
 			
 			Attr data_2 {
 				Attr int32_c = 42
 				Attr int32_i = 42
 			}
 		}
 	}
 	
 	ActorClassConfig Testee_Super2_ac {
 		Attr float64_super_c = 2.2
 		Attr float64_super_i = 2.2
 	}
 	
 	ActorClassConfig Testee_2_ac {
 		Attr int32_own_c = 12
 		Attr int32_own_i = 12
 	}
 	
 	ProtocolClassConfig TestProtocolAttributes {
 		regular Port{
 			Attr float_c = 3.0
 			Attr float_i = 3.0
 		} 
 		conjugate Port {
 			Attr array2_c = 16, 32
 			Attr array2_i = 16, 32
 		}
 	}
 	
 	ProtocolClassConfig TestProtocolWithDataClass {
 		conjugate Port {
 			Attr sap_data_2{
 				Attr int32_c = 2
 				Attr int32_i = 2
 			}
 		}
 	}
 	
 	ActorInstanceConfig JavaGenTests/scTest/top/tester {
 		// nothing
 	}
 
 	ActorInstanceConfig JavaGenTests/scTest/top/testee_1 {
 		Attr data_1 {
 			Attr bool_i = true
 			Attr int8_i = 2
 			Attr int16_i = 4
 			Attr int32_i = 8
 			Attr int64_i = 16
 			Attr float32_i = 1.6
 			Attr float64_i = 3.2
 			Attr char_i = "I"
 			Attr string_i = ":]"
 			
 			Attr bool_array_i = true, true
 			Attr int8_array_i = 2, 6
 			Attr int16_array_i = 4, 12
 			Attr int32_array_i = 8, 24
 			Attr int64_array_i = 16, 48
 			Attr float32_array_i = 1.6
 			Attr float64_array_i = 3.2
 			Attr char_array_i = "Inst"
 			
 			Attr data_2 {
 				Attr int32_i = 43
 			}
 		}
 		InterfaceItem conj_port {
 			Attr array2_i = 1, 2
 		}
 	} 
 	
 	
 	ActorInstanceConfig JavaGenTests/scTest/top/tester/testee_super2{
 		Attr float64_super_i = 3.3
 		InterfaceItem reg_port {
 			Attr float_i = 25.0
 		}
 	}
 	
 	ActorInstanceConfig JavaGenTests/scTest/top/testee_1/testee_2 {
 		Attr float64_super_i = 4.4
 		Attr int32_own_i = 13
 		InterfaceItem reg_port {
 			Attr float_i = 50.0
 		}
 		InterfaceItem sap {
 			Attr sap_data_2 {
 				Attr int32_i = 3
 			}
 		}
 	}
	
	SubSystemConfig JavaGenTests / dcTest {
		dynamic configuration {
			user import ""
			user constructor "ConfigSourceTestInstance.getInstance()"
			polling timer [ms] 200
		}
	}

	ActorClassConfig Testee_ac {
		Attr aBool = false
		Attr aInt8 = 0 {
			min = -1 max = 59
		}
		Attr aInt16 = 0 {
			min = -1 max = 59
		}
		Attr aInt32 = 0 {
			min = -1 max = 59
		}
		Attr aInt64 = 0 {
			min = -1 max = 59
		}
		Attr aFloat32 = 0. {
			min = -1. max = 59.
		}
		Attr aFloat64 = 0. {
			min = -1. max = 59.
		}
		Attr aChar = ''
		Attr aString = ""
		Attr aBool_array = false
		Attr aInt8_array = 0 {
			min = -1 max = 59
		}
		Attr aInt16_array = 0 {
			min = -1 max = 59
		}
		Attr aInt32_array = 0 {
			min = -1 max = 59
		}
		Attr aInt64_array = 0 {
			min = -1 max = 59
		}
		Attr aFloat32_array = 0.0 {
			min = -1.0 max = 59.0
		}
		Attr aFloat64_array = 0.0 {
			min = -1.0 max = 59.0
		}
		Attr aChar_array
		Attr dc {
			Attr nested {
				Attr aInt32 = 0 {
					min = -1 max = 59
				}
			}
		}
	}

	ActorInstanceConfig JavaGenTests / dcTest / testee {
		Attr aInt8 {
			dynamic configuration read
		}
		Attr aInt16 {
			dynamic configuration read
		}
		Attr aInt32 {
			dynamic configuration read
		}
		Attr aInt64 {
			dynamic configuration read
		}
		Attr aFloat32 {
			dynamic configuration read
		}
		Attr aFloat64 {
			dynamic configuration read
		}
		Attr aBool {
			dynamic configuration read
		}
		Attr aChar {
			dynamic configuration read
		}
		Attr aString {
			dynamic configuration read
		}
		Attr aInt8_array {
			dynamic configuration read
		}
		Attr aInt16_array {
			dynamic configuration read
		}
		Attr aInt32_array {
			dynamic configuration read
		}
		Attr aInt64_array {
			dynamic configuration read
		}
		Attr aFloat32_array {
			dynamic configuration read
		}
		Attr aFloat64_array {
			dynamic configuration read
		}
		Attr aBool_array {
			dynamic configuration read
		}
		Attr aChar_array {
			dynamic configuration read
		}
		Attr dc {
			dynamic configuration read
		}
	}
}
