<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.etrice.core.ui.wizardCategory"
            name="eTrice"/>
   </extension>

	<!-- ========= org.eclipse.etrice.runtime.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCRuntimeWizard" 
			name="eTrice C Runtime" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>The C Runtime required by eTrice C projects</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewCRuntimeWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.runtime.c" contentURI="contents/org.eclipse.etrice.runtime.c.zip" description="eTrice Runtime for C"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.modellib.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCModelLibWizard" 
			name="eTrice C ModelLib" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>A ROOM Model Library for C with useful services</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewCModelLibWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.modellib.c" contentURI="contents/org.eclipse.etrice.modellib.c.zip" description="eTrice ModelLib for C"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.runtime.cpp ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCPPRuntimeWizard" 
			name="eTrice C++ Runtime" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>The C++ Runtime required by eTrice C++ projects</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewCPPRuntimeWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.runtime.cpp" contentURI="contents/org.eclipse.etrice.runtime.cpp.zip" description="eTrice Runtime for C++"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.modellib.cpp ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCPPModelLibWizard" 
			name="eTrice C++ ModelLib" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>A ROOM Model Library for C++ with useful services</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewCPPModelLibWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.modellib.cpp" contentURI="contents/org.eclipse.etrice.modellib.cpp.zip" description="eTrice ModelLib for C++"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.runtime.java ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewJavaRuntimeWizard" 
			name="eTrice Java Runtime" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>The Java Runtime required by eTrice Java projects</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewJavaRuntimeWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.runtime.java" contentURI="contents/org.eclipse.etrice.runtime.java.zip" description="eTrice Runtime for Java"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.modellib.java ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewJavaModelLibWizard" 
			name="eTrice Java ModelLib" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>A ROOM Model Library for Java with useful services</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewJavaModelLibWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.modellib.java" contentURI="contents/org.eclipse.etrice.modellib.java.zip" description="eTrice ModelLib for Java"/>
	  </example>
	</extension>   

	<extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.etrice.core.ui.exampleWizardCategory"
            name="eTrice Examples and Tutorials"/>
	</extension>

	<!-- ========= org.eclipse.etrice.tutorials.java ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewJavaTutorialWizard" 
			name="eTrice Java Tutorials" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>eTrice Java tutorials accompanying the online help</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewJavaTutorialWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.tutorials.java" contentURI="contents/org.eclipse.etrice.tutorials.java.zip" description="eTrice Java Tutorials"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.tutorials.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCTutorialWizard" 
			name="eTrice C Tutorials" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>eTrice C tutorials accompanying the online help</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewCTutorialWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.tutorials.c" contentURI="contents/org.eclipse.etrice.tutorials.c.zip" description="eTrice C Tutorials"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.tutorials.simulators.trafficlight ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewTrafficlightlWizard" 
			name="eTrice Trafficlight for Tutorials" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>eTrice traffic light GUI used in tutorials</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.NewTrafficlightlWizard" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.tutorials.simulators.trafficlight" contentURI="contents/org.eclipse.etrice.tutorials.simulators.trafficlight.zip" description="eTrice Traffic Light GUI"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.examples.dynamicactors1 ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.Example_DynamicActors1" 
			name="eTrice Dynamic Actors Example 1" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>introductory example for dynamic actors</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.Example_DynamicActors1" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.examples.dynamicactors1" contentURI="contents/org.eclipse.etrice.examples.dynamicactors1.zip" description="Exmaple Dynamic Actors 1"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.examples.dynamicactors2 ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.Example_dynamicactors2" 
			name="eTrice Dynamic Actors Example 2" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>massive construction and destruction of dynamic actors</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.Example_dynamicactors2" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.examples.dynamicactors2" contentURI="contents/org.eclipse.etrice.examples.dynamicactors2.zip" description="Exmaple Dynamic Actors 2"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.examples.dynamicactors3 ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.Example_dynamicactors3" 
			name="eTrice Dynamic Actors Example 3" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>replicated dynamic actors</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.Example_dynamicactors3" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.examples.dynamicactors3" contentURI="contents/org.eclipse.etrice.examples.dynamicactors3.zip" description="Exmaple Dynamic Actors 3"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.examples.dynamicactors4 ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.Example_dynamicactors4" 
			name="eTrice Dynamic Actors Example 4" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>optional actor with access from level above</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.Example_dynamicactors4" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.examples.dynamicactors4" contentURI="contents/org.eclipse.etrice.examples.dynamicactors4.zip" description="Exmaple Dynamic Actors 4"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.examples.dynamicactors5 ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.Example_dynamicactors5" 
			name="eTrice Dynamic Actors Example 5" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>dynamic actor with external end port</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.Example_dynamicactors5" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.examples.dynamicactors5" contentURI="contents/org.eclipse.etrice.examples.dynamicactors5.zip" description="Exmaple Dynamic Actors 5"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.examples.dynamicactors6 ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.Example_dynamicactors6" 
			name="eTrice Dynamic Actors Example 6" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>nested optional actor</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.Example_dynamicactors6" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.examples.dynamicactors6" contentURI="contents/org.eclipse.etrice.examples.dynamicactors6.zip" description="Exmaple Dynamic Actors 6"/>
	  </example>
	</extension>   

	<!-- ========= org.eclipse.etrice.examples.dynamicactors7 ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.Example_dynamicactors7" 
			name="eTrice Dynamic Actors Example 7" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.exampleWizardCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>direct communication between dynamic actors</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
	   <example wizardID="org.eclipse.etrice.ui.runtime.Example_dynamicactors7" pageImage="icons/genproject.gif">
		 <projectDescriptor name="org.eclipse.etrice.examples.dynamicactors7" contentURI="contents/org.eclipse.etrice.examples.dynamicactors7.zip" description="Exmaple Dynamic Actors 7"/>
	  </example>
	</extension>   

</plugin>
