<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.newWizards">
		<category
			id="org.eclipse.etrice.core.ui.wizardCategory"
			name="eTrice"/>
		<category
			id="org.eclipse.etrice.core.ui.wizardCCategory"
			name="C"
			parentCategory="org.eclipse.etrice.core.ui.wizardCategory">
		</category>
		<category
			id="org.eclipse.etrice.core.ui.wizardJavaCategory"
			name="Java"
			parentCategory="org.eclipse.etrice.core.ui.wizardCategory">
		</category>
		<category
			id="org.eclipse.etrice.core.ui.libraryCCategory"
			name="Libraries"
			parentCategory="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCCategory">
		</category>
		<category
			id="org.eclipse.etrice.core.ui.libraryJavaCategory"
			name="Libraries"
			parentCategory="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardJavaCategory">
		</category>
	</extension>

	<!-- ========= org.eclipse.etrice.runtime.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCRuntimeWizard" 
			name="eTrice C Runtime" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCCategory/org.eclipse.etrice.core.ui.libraryCCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>The C Runtime required by eTrice C projects</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.NewCRuntimeWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.runtime.c"
				contentURI="contents/org.eclipse.etrice.runtime.c.zip"
				description="eTrice Runtime for C"/>
	</example>
	</extension>	

	<!-- ========= org.eclipse.etrice.modellib.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCModelLibWizard" 
			name="eTrice C ModelLib" 
			class="org.eclipse.etrice.ui.runtime.NonDeletingWizardInstaller" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCCategory/org.eclipse.etrice.core.ui.libraryCCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>A ROOM Model Library for C with useful services</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.NewCModelLibWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.modellib.c"
				contentURI="contents/org.eclipse.etrice.modellib.c.zip"
				description="eTrice ModelLib for C"/>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.runtime.c.zip"
				description="eTrice Runtime for C"
				name="org.eclipse.etrice.runtime.c">
			</projectDescriptor>
		</example>
	</extension>	

	<!-- ========= org.eclipse.etrice.runtime.java ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewJavaRuntimeWizard" 
			name="eTrice Java Runtime" 
			class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardJavaCategory/org.eclipse.etrice.core.ui.libraryJavaCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>The Java Runtime required by eTrice Java projects</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.NewJavaRuntimeWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.runtime.java"
				contentURI="contents/org.eclipse.etrice.runtime.java.zip"
				description="eTrice Runtime for Java"/>
		</example>
	</extension>	

	<!-- ========= org.eclipse.etrice.modellib.java ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewJavaModelLibWizard" 
			name="eTrice Java ModelLib" 
			class="org.eclipse.etrice.ui.runtime.NonDeletingWizardInstaller" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardJavaCategory/org.eclipse.etrice.core.ui.libraryJavaCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>A ROOM Model Library for Java with useful services</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.NewJavaModelLibWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.modellib.java"
				contentURI="contents/org.eclipse.etrice.modellib.java.zip"
				description="eTrice ModelLib for Java"/>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.runtime.java.zip"
				description="eTrice Runtime for Java"
				name="org.eclipse.etrice.runtime.java">
			</projectDescriptor>
		</example>
	</extension>	


	<!-- ========= org.eclipse.etrice.tutorials.java ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewJavaTutorialWizard" 
			name="eTrice Java Tutorials" 
			class="org.eclipse.etrice.ui.runtime.NonDeletingWizardInstaller" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardJavaCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>eTrice Java tutorials accompanying the online help</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.NewJavaTutorialWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.tutorials.java"
				contentURI="contents/org.eclipse.etrice.tutorials.java.zip"
				description="eTrice Java Tutorials"/>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.modellib.java.zip"
				description="eTrice ModelLib for Java"
				name="org.eclipse.etrice.modellib.java">
			</projectDescriptor>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.runtime.java.zip"
				description="eTrice Runtime for Java"
				name="org.eclipse.etrice.runtime.java">
			</projectDescriptor>
		</example>
	</extension>	
	
	<!-- ========= org.eclipse.etrice.examples.java ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewJavaExamplesWizard" 
			name="eTrice Java Examples" 
			class="org.eclipse.etrice.ui.runtime.NonDeletingWizardInstaller" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardJavaCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>eTrice Java examples</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.NewJavaExamplesWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.modellib.java.zip"
				description="eTrice ModelLib for Java"
				name="org.eclipse.etrice.modellib.java">
			</projectDescriptor>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.runtime.java.zip"
				description="eTrice Runtime for Java"
				name="org.eclipse.etrice.runtime.java">
			</projectDescriptor>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.examples.java.zip"
				description="eTrice Java Examples"
				name="org.eclipse.etrice.examples.java">
			</projectDescriptor>
		</example>
	</extension>	

	<!-- ========= org.eclipse.etrice.tutorials.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.NewCTutorialWizard" 
			name="eTrice C Tutorials" 
			class="org.eclipse.etrice.ui.runtime.NonDeletingWizardInstaller" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>eTrice C tutorials accompanying the online help</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.NewCTutorialWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.tutorials.c"
				contentURI="contents/org.eclipse.etrice.tutorials.c.zip"
				description="eTrice C Tutorials"/>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.runtime.c.zip"
				description="eTrice Runtime for C"
				name="org.eclipse.etrice.runtime.c">
			</projectDescriptor>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.modellib.c.zip"
				description="eTrice ModelLib for C"
				name="org.eclipse.etrice.modellib.c">
			</projectDescriptor>
		</example>
	</extension> 
	
	<!-- ========= org.eclipse.etrice.examples.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard	id="org.eclipse.etrice.ui.runtime.ExamplesCWizard" 
			name="eTrice C Examples" 
			class="org.eclipse.etrice.ui.runtime.NonDeletingWizardInstaller" 
			category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCCategory"
			icon="icons/genproject.gif" 
			project="true">
			<description>eTrice C tutorials accompanying the online help</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.ExamplesCWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.examples.c"
				contentURI="contents/org.eclipse.etrice.examples.c.zip"
				description="eTrice C Examples"/>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.runtime.c.zip"
				description="eTrice Runtime for C"
				name="org.eclipse.etrice.runtime.c">
			</projectDescriptor>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.modellib.c.zip"
				description="eTrice ModelLib for C"
				name="org.eclipse.etrice.modellib.c">
			</projectDescriptor>
		</example>
	</extension>
	
	<!-- ========= org.eclipse.etrice.template.c ========= -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard
        category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCCategory"
        class="org.eclipse.etrice.ui.runtime.NonDeletingWizardInstaller"
        finalPerspective="org.eclipse.cdt.ui.CPerspective"
        icon="icons/genproject.gif"
        id="org.eclipse.etrice.ui.runtime.TemplateCWizard"
        name="eTrice C Template Project"
        preferredPerspectives="org.eclipse.cdt.ui.CPerspective"
        project="true">
			<description>eTrice C template project</description>
		</wizard>
	</extension>
	<extension point="org.eclipse.emf.common.ui.examples">
		<example wizardID="org.eclipse.etrice.ui.runtime.TemplateCWizard" pageImage="icons/genproject.gif">
			<projectDescriptor
				name="org.eclipse.etrice.template.c"
				contentURI="contents/org.eclipse.etrice.template.c.zip"
				description="eTrice C Template Project"/>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.runtime.c.zip"
				description="eTrice Runtime for C"
				name="org.eclipse.etrice.runtime.c">
			</projectDescriptor>
			<projectDescriptor
				contentURI="contents/org.eclipse.etrice.modellib.c.zip"
				description="eTrice ModelLib for C"
				name="org.eclipse.etrice.modellib.c">
			</projectDescriptor>
   <fileToOpen
         location="org.eclipse.etrice.template.c/model/TemplateModel.room">
   </fileToOpen>
		</example>
	</extension>			 
</plugin>
