<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.etrice.generator.ui.project_configurator" name="Configurator for eTrice projects" schema="schema/org.eclipse.etrice.generator.ui.project_configurator.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
        	category="org.eclipse.etrice.ui.common.preferences.ETricePreferencePage"
            class="org.eclipse.etrice.generator.ui.preferences.GeneratorPreferencePage"
            id="org.eclipse.etrice.generator.ui.preferences.GeneratorPreferencePage"
            name="Generators">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.etrice.generator.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardJavaCategory"
            class="org.eclipse.etrice.generator.ui.wizard.NewSetOfModelsWizard"
            icon="icons/NewETriceProject.gif"
            id="org.eclipse.etrice.generator.ui.wizard.NewSetOfModelsWizardJava"
            name="New Set of eTrice Models">
      </wizard>
      <wizard
            category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCCategory"
            class="org.eclipse.etrice.generator.ui.wizard.NewSetOfModelsWizard"
            icon="icons/NewETriceProject.gif"
            id="org.eclipse.etrice.generator.ui.wizard.NewSetOfModelsWizardC"
            name="New Set of eTrice Models">
      </wizard>
      <wizard
            category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardCppCategory"
            class="org.eclipse.etrice.generator.ui.wizard.NewSetOfModelsWizard"
            icon="icons/NewETriceProject.gif"
            id="org.eclipse.etrice.generator.ui.wizard.NewSetOfModelsWizardCPP"
            name="New Set of eTrice Models">
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.etrice.generator.ui.wizard.EmptyProjectWizard"
            name="eTrice Java Template Project"
            class="org.eclipse.etrice.generator.ui.wizard.EmptyProjectWizard"
            category="org.eclipse.etrice.core.ui.wizardCategory/org.eclipse.etrice.core.ui.wizardJavaCategory"
            project="true"
            icon="icons/NewETriceProject.gif">
         <description>Create an empty Java plug-in project with eTrice dependencies</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

</plugin>
