<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
        	category="org.eclipse.etrice.ui.common.preferences.ETricePreferencePage"
            class="org.eclipse.etrice.generator.ui.preferences.GeneratorPreferencePage"
            id="org.eclipse.etrice.generator.ui.preferences.GeneratorPreferencePage"
            name="Generators">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.etrice.generator.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
