<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.etrice.core.ui.wizardCategory"
            name="eTrice">
      </category>
      <wizard
            category="org.eclipse.etrice.core.ui.wizardCategory"
            class="org.eclipse.etrice.generator.wizard.NewSetOfModelsWizard"
            icon="icons/NewETriceProject.gif"
            id="org.eclipse.etrice.generator.wizard.NewSetOfModelsWizard"
            name="New Set of eTrice Models">
      </wizard>
   </extension>

</plugin>
