import org.eclipse.etrice.integration.ConfigTest.* from "org.eclipse.etrice.integration.ConfigTest.room"

ActorClassConfig Testee {
	attr bool2 = false
	attr int2 = 210
	attr bool3 = false
	attr int3 = 310
}

ActorInstanceConfig SubSystemConfigTest/top/testee {
	attr bool3 = true
	attr int3 = 301
}
