import org.eclipse.etrice.integration.ConfigTest.* from "org.eclipse.etrice.integration.ConfigTest.room"
SubSystemConfig SubSystemConfigTest {
	dynamic configuration {
		file path "tmp/subSystemConfigTest"
		//user import "import org.eclipse.etrice.runtime.java.config.ConfigSourceFile"
		//user constructor "new ConfigSourceFile(\"test\")"
		polling timer [ms] 4000
	}
}

/*
 * Class Config
 */ // Actors
ActorClassConfig Testee_ac {
	Attr bool_c = false
	Attr int_c = 210
	Attr float_c = 16777215
	Attr char_c = "A"
	Attr charArray_c = "ROOM-Coon"
	Attr string_c = ":-)"
	Attr string_i = ":-]"
	Attr bool_i = false
	Attr int_i = 310
	Attr float_i = 0.0
	Attr char_i = "B"
	Attr charArray_i = "ROOM Gloom"
	Attr array1_c = 99
	Attr array1_i = 99
	Attr array2_c = false, false
	Attr array2_i = false, false
} // Protocols
ProtocolClassConfig PortProtocol {
	regular Port {
		Attr float_c = 3
		Attr float_i = 9
	}
	conjugate Port {
		Attr array1_c = 1
		Attr array1_i = 2
		Attr array2_c = 16, 32
		Attr array2_i = 16, 32
	}
}

/*
 * Instance Config
 */ ActorInstanceConfig SubSystemConfigTest / top / testee {
	Attr bool_i = true
	Attr int_i = 301
	Attr float_i = 1.0E-5
	Attr char_i = "C"
	Attr charArray_i = "ROOM 2 Moon"
	Attr string_i = ":^]"
	Attr array1_i = 4
	Attr array2_i = false, true
	InterfaceItem Reg_port {
		Attr float_i = 25
	}
}

ActorInstanceConfig SubSystemConfigTest / top / testee / AR1 {
	InterfaceItem Conj_port {
		Attr array1_i = 256
		Attr array2_i = 1, 2
	}
}

ActorInstanceConfig SubSystemConfigTest / top / testee2 {
	Attr int_i = 301 {
		dynamic configuration read
	}
	Attr dc_i {
		dynamic configuration read Attr int_i = 302
		Attr long_array_i = 303
		Attr dc_i {
			Attr char_i = "instance3"
			Attr double_i = 0.304
		}
	}
	Attr blockMe = 0 {
		dynamic configuration read
	}
	Attr blocker = false {
		dynamic configuration read
	}
	Attr dc_dump{
		dynamic configuration write
		Attr dc_i {
			Attr char_i = "dummy"
			Attr double_i = 0.0e-100
		}
		Attr long_array_i = 1000
		Attr int_i = 123
	}
	Attr int_dump = 3 {
		dynamic configuration write
	}
}


