<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/etrice/core/etmap/ETMap" 
       class = "org.eclipse.etrice.core.etmap.eTMap.ETMapPackage"
       genModel = "src-gen/org/eclipse/etrice/core/etmap/ETMap.genmodel" /> 
	
  </extension>




</plugin>
