/*******************************************************************************
 * Copyright (c) 2012 protos software gmbh (http://www.protos.de).
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * CONTRIBUTORS:
 * 		Thomas Schuetz (initial contribution)
 * 
 *******************************************************************************/
ConfigModel trafficlight.example.config {
	
	import TrafficLight_Model.* from "TrafficLight.room"
	
	ActorInstanceConfig LSTraffic/mainSS/application/light1{
		Attr ipConfig{
			//Attr IPAddr="192.168.137.1"
			Attr IPAddr="localhost"
			Attr TcpPort=4441
		}
	}
	
	ActorInstanceConfig LSTraffic/mainSS/application/light2 {
		Attr ipConfig{
			//Attr IPAddr="192.168.137.1"
			Attr IPAddr="localhost"
			Attr TcpPort=4442
		}
	}
	ActorInstanceConfig LSTraffic/mainSS/application/pedestrianLight {
		Attr ipConfig{
			Attr IPAddr="localhost"
			Attr TcpPort=4443
		}
	}	
}
