<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/etrice/core/Config" 
       class = "org.eclipse.etrice.core.config.ConfigPackage"
       genModel = "src-gen/org/eclipse/etrice/core/Config.genmodel" /> 
	
  </extension>





</plugin>
